body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


html,body{
    margin:0;
}



canvas{
    display:block;
    vertical-align:bottom;
}


.clr-silver {
    color: #e3e5de;
}

.bg-full {
    background: url("../images/house2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg-darkgrey {
    background-color: #393a38;
}


.btn:hover {


}


.btn-silver {
    background-color: #e3e5de;
}

.btn-yellow {
    background-color: #f1d729;
}


.custom-inline {
    display:inline-block;
}

.btn-custom {
    white-space:normal;
    min-width: 120px;
    min-height: 120px;
    margin-top: 12px;
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corners-rounded {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.align-center {
     margin: 0 auto;
     text-align: center;
 }



/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
